body {
    background-color: #f7f9f9;
}
.middle-block {
    margin: auto;
    max-width: 800px;
}
.align-right {
    text-align: right;
}
.left-of-3 .left-of-2 {
    width: 5%;
}
.right-of-2 {
    width: 95%;
}
.middle-of-3 {
    width: 5%;
}
.right-of-3 {
    width: 90%;
}
h2, h3 {
    margin-bottom: 0;
}
table, tr, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border:none;
    align:left;
}
table {
    width: 97%;
    padding: 0 0.1em 1.5em 0.3em;
    background-color: #e8eeee;
    border-radius: 15px;
}
td {
    padding-left: 0.5em;
    padding-top: 0.5em;
}
.input-cell {
    padding-right: 0.6em;
}
input {
    width: 100%;
}
.errormsg {
    color: red;
    font-weight: bold;
    display: none;
}
.button-link {
    xxheight:60px;
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 100%;
}
.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.display-long-url { /* from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}